*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --cor-destaque: #FCC01C;
}

body{
    background-image: url(img/background\ -\ IMC.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #000A;
    background-blend-mode: darken;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
h1 {
    color: white;
    font-size: 3rem;
    font-weight: 400;
}
main{
    flex-grow: 1;
    display: flex;
}
section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias table{
    font-size: 1.5rem;
    border-spacing: 5px;
}

.categorias th{
    background-color: var(--cor-destaque);
    height: 50px;
    width: 500px;
    border-radius: 5px;
    font-weight: 400;
}

.categorias td {
    background-color: var(--cor-destaque);
    height: 50px;
    width: 250px;
    border-radius: 5px;
    padding-left: 30px;
    font-weight: 300;
}
.calculadora form{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 250px;
}

.calculadora label{
    color: white;
}
.calculadora .campo{
    display: flex;
    flex-direction: column;
    position: relative; /* (1) */
}

.calculadora .campo.unidade input {
    border-right: 60px;
}

.calculadora .campo.unidade::before { /* Para que seja possível posicionar essa "etiqueta" em relação ao container(1), esse pai deve ter posição relativa*/
    content: attr(data-unidade);
    color: black;
    background-color: var(--cor-destaque);
    position: absolute; 
    right: 0;
    bottom: 0;
    height: 50px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
}

.calculadora input{
    height: 50px;
    border: 2px solid var(--cor-destaque);
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    color:white;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.calculadora button{
    height: 50px;
    background-color: var(--cor-destaque);
    font-size: 1rem;
    border-radius: 5px;
}

.calculadora .resultado{
    height: 100px;
    background-color: var(--cor-destaque);
    border-radius: 5px;
    padding: 10px;
}

footer{
    height: 40px;
    text-align: center;
}
footer span{
    color: white;
    font-size: .8rem;
    font-style: italic;
    font-weight: 200;
}

.parabens {
    color: green;
}

.cuidado {
    color: red;
}

/* Responsividade */
@media (max-width: 768px) {
    .categorias {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    .calculadora form {
        width: 80%;
    }
}